<IfModule mod_headers.c>
    Header set Content-Security-Policy "default-src 'none', default-src 'self'; script-src 'self'; frame-ancestors 'none'; form-action 'none', form-action 'self'; base-uri 'none', base-uri 'self'"
    Header set X-Frame-Options: DENY
</IfModule>
