body {
    background-color: #fefefe;
    color: #000;
    padding: 50px;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
}
header, main, footer, .properties, .amenities, .agent, nav {
    margin: auto;
    max-width: 905px;
}
footer {
    margin-top: 50px;
    text-align: center;
    font-size: 0.8rem;
}
h1, h2, h3 {
    line-height: 1.4em;
    text-align: left;
}
h1 {
    font-size: 4.5rem;
    font-family: Helvetica; /* 'Homemade Apple'; */
    color: rgb(7, 66, 32);
    line-height: 4rem;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.8rem;
}
h3 {
    font-size: 1.4rem;
    margin: 0; padding: 0;
}
h4 {
    font-size: 1.3rem;
    margin: 0; padding: 0;
}
p {
    font-size: 1.2rem;
    line-height: 2rem;
}
a {
    color: #333;
}
.properties, .amenities {
    line-height: 3rem;
    display: block;
    margin-bottom: 3rem;
    background-color: #dbe5ef;
}
.properties {
    margin-top: 1.5rem;
}
.amenities {
    margin-top: 3rem;
}
.properties ul, .amenities ul {
    list-style: none;
}
@media only screen and (max-width: 750px) {
  body {
    padding: 10px;
    padding-bottom: 150px;
  }
}
.properties ul li:before {
    content: '-';
    margin-right: 20px;
}
.amenities ul li:before {
    content: '✓';
    margin-right: 20px;
}
@media only screen and (min-width: 1024px) {
    .properties, .amenities {
        display: flex;
    }
    .properties ul, .amenities ul {
        flex: 1;
        flex-direction: column;
    }
}
@media only screen and (max-width: 1023px) {
    h1 {
        font-size: 2.6rem;
    }
    h2 {
        font-size: 1.6rem;
    }
    .properties ul, .amenities ul {
        margin: 0;
        padding-inline-start: 15px;
    }
    .properties ul li {
        padding-left: 0;
    }
}
.hero-image {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    padding: 0;
}
.hero-image img {
    width: 100%;
}
.image-pair {
    width: 100%;
    display: grid;
    flex-wrap: wrap;
    margin-bottom: 50px;
    row-gap: 25px;
}
.illustration {
    max-width: 50%;
    float: right;
    margin-bottom: 50px;
    margin-left: 25px;
}
@media only screen and (min-width: 750px) {
    .image-pair {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }
}
@media only screen and (max-width: 750px) {
    .image-pair {
        row-gap: 35px !important;
        gap: 0;
    }
    .image-pair img {
        width: 100%;
    }
}
.image-pair img {
    max-width: 100%;
}
.agent img {
    width: 100%;
    max-width: 189px;
    background-color: #666;
}
.agent h4 a {
    text-decoration: none;
    font-weight: 800;
}
@media (min-width: 720px) {
    .agent {
        display: flex;
        gap: 1rem;
    }
    .agent img {
        flex: 1;
    }
    .agent .details {
        flex: 4;
    }
}
@media (max-width: 720px) {
    .agent img {
        margin: auto;
        margin-bottom: 25px;
        display: block;
    }
    .agent {
        font-size: 1rem;
        text-align: center;
    }
}
